@font-face {
  font-family: "satoshi";
  font-style: normal;
  font-weight: 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/satoshi/v30/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp7c8WR32lw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "clash display";
}

h2 {
  font-family: "satoshi";
}

.brand {
  word-wrap: normal;
  font-size: 3em;
  margin-right: 150px;
  margin-left: 80px;
  margin-top: 30px;
  margin-bottom: 25px;
  background: -webkit-linear-gradient(315deg, #ff585d 25%, #1da1f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.brand img {
  width: 75px;
  border-radius: 50%;
}

.brand:hover {
  opacity: 1;
  transform: rotate(-2deg);
  transition: all 0.3s;
}

.brand:not(:hover) {
  transform: rotate(0deg);
  transition: all 0.5s;
}

.nav {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  box-shadow: 2px 2px 20px #00000050;
  background: #fff;
}

.nav-ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0px;
  display: block;
  overflow: hidden;
  margin-top: 10px;
}

li {
  display: inline;
  font-size: 25px;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  font-family: "satoshi", monospace;
}

a {
  text-decoration: none;
}

.nav li a {
  color: #00000050;
  text-shadow: 0;
}

.nav li a:hover {
  color: #000000;
}

.welcome-banner {
  background: linear-gradient(to bottom, #00000020, #000000),
    url("https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg");
  height: 75vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  color: #fff;
  text-shadow: 1px 1px 1px #00000099;
  margin: 0;
  padding: 0;
  padding-left: 150px;
  z-index: 2;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-banner p {
  font-family: "satoshi", monospace;
  font-size: 25px;
}

.welcome-banner i {
  padding-bottom: 40px;
  font-size: 50px;
}

.palm {
  font-size: 100px;
  text-shadow: 1px 1px 10px #00000050;
  animation-name: hi;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes hi {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.typewrite {
  color: #fff;
  font-family: "satoshi", monospace;
  text-shadow: 2px 3px 5px #000000;
  font-size: 90px;
}

.typewrite:hover {
  color: #fff;
}

.svg {
  width: 80px;
}

.svg :hover {
  transform: translateY(-10px);
  transition: all 0.3s;
}

.svg :not(:hover) {
  transition: all 0.7s;
}

.hithere {
  color: #fff;
  text-shadow: 2px 2px 12px #fff;
  font-family: "clash display";
  font-size: 50px !important;
}

.main {
  animation: fadeIn ease-out 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.gradient-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.gradient {
  position: absolute;
  background: #00000050;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
}

#particles-js {
  position: fixed;
  opacity: 1;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
}

hr {
  opacity: 0.1;
  width: 50%;
  padding: 5px;
  margin: 0;
}

.section-divider {
  opacity: 1;
  width: 100%;
  padding: 5px;
  margin: 0;
}

#projects,
#contact-me,
#hire-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projects h1 {
  font-size: 40px !important;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 15px;
  background: yellow;
  transform: rotate(-2deg);
  box-shadow: 5px 5px 1px orange;
}

#projects p {
  font-family: 18px;
  font-family: "satoshi", monospace;
  color: #fff;
}

#contact-me h1,
#hire-me h1 {
  font-size: 40px !important;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 15px;
  background: yellow;
  transform: rotate(-2deg);
  box-shadow: 5px 5px 1px orange;
}

.html-icon,
.css-icon,
.javascript-icon,
.react-icon,
.vuejs-icon,
.firebase-icon {
  width: 100px;
  cursor: pointer;
}

.bootstrap-icon {
  width: 120px;
  cursor: pointer;
}

.merng-icon {
  width: 200px;
  cursor: pointer;
}

.cards-main,
.cards-main-2,
.cards-main-3,
.cards-main-4,
.cards-main-5 {
  display: none;
}

.linkedin {
  width: 100px;
  margin-top: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.linkedin:hover {
  transform: translateY(-5px);
  transition: all 0.5s ease-in-out;
  box-shadow: 1px 2px 15px #00000050;
}

.linkedin:not(:hover) {
  transform: translateY(5px);
  transition: all 0.5s ease-in-out;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
}

.cards .card {
  margin: 10px;
  height: 300px !important;
  border-radius: 25px;
  text-align: center;
}

.card:hover {
  box-shadow: 2px 2px 40px #00000030;
}

.card h4 {
  font-size: 30px;
  font-family: "satoshi", monospace;
}

.buttons .fa-solid {
  color: black;
  background-color: #ffffff;
  padding: 8px 40px;
  margin-bottom: 10px;
}

.buttons .fa-solid:hover {
  background-color: #eeeeee;
  padding: 8px 16px;
  border-radius: 8px;
}

.footer-nav {
  color: #00000050 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  padding-left: 100px;
  padding-bottom: 10px;
  bottom: 0;
  background: #fff;
  border: none;
}

.bottom-social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background: #eee;
  padding: 10px;
  margin: 0;
}

.social-icons ul{
  padding-left: 0;
}

.social-icons {
  height: 3rem;
  bottom: 0;
  top: 0;
  margin-bottom: 0;
  border: none;
}

.social-icons img {
  width: 2.5rem;
  border-radius: 50%;
}

.social-icons ul,
.social-icons li {
  margin-bottom: 0;
  bottom: 0;
  padding-bottom: 0;
}

.footer-nav p {
  font-size: 2rem;
  padding-left: 60px;
  font-family: "clash display";
  margin: 0;
}

.footer-nav li {
  display: block;
  font-size: 20px;
  margin: 0;
  padding-bottom: 5px;
}

.footer-nav a {
  text-decoration: none;
  color: #000;
}

.footer-nav li a {
  opacity: 0.7;
}

.footer-nav li a:hover {
  color: #000;
}

.footer-nav img {
  width: 50px;
  border-radius: 50%;
}

/* FORM */
form {
  margin-top: 20px;
  width: 40rem;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
}

form:hover {
  box-shadow: 2px 2px 30px #00000020;
}

label {
  color: #0f4c7599;
  display: inline-block;
  margin: 25px 0 0;
  font-size: 24px;
  font-family: "satoshi", monospace;
}

input {
  padding: 10px 5px;
  width: 80%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #444;
  color: #555;
  font-size: 20px;
  font-family: "satoshi", monospace;
}

textarea {
  width: 80%;
  font-size: 20px;
  font-family: "satoshi", monospace;
}

div.submit {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.submit button {
  border-radius: 20px;
  box-shadow: 1px 1px 15px #ffffff50;
  border: none;
  font-size: 1.5rem;
  padding: 12px;
  width: 10rem;
  margin: 30px;
  cursor: pointer;
  font-family: "satoshi", monospace;
}

.submit button:hover {
  box-shadow: 1px 1px 5px #00000050;
  transform: translateY(-5px);
  transition: all 0.5s ease-in-out;
}

.submit button:not(:hover) {
  transition: all 0.5s ease-in-out;
  transform: translateY(5px);
}

.submit-btn {
  color: #fff;
  text-shadow: 1px 1px 5px #00000050;
}

@media screen and (max-width: 650px) {
  .brand {
    margin-left: 85px;
    margin-bottom: 5px;
  }

  .nav li {
    font-size: 15px;
    padding-left: 2px;
    padding-right: 10px;
  }

  .nav {
    text-align: center;
    padding-bottom: 20px;
  }

  .footer-nav {
    padding-left: 0;
  }

  p {
    font-size: 20px;
  }

  .typewrite {
    font-size: 40px;
  }

  .svg {
    width: 50px;
  }

  .welcome-banner {
    background-image: linear-gradient(to bottom, #00000020, #000)
      url("https://cdn.pixabay.com/photo/2016/11/30/20/58/programming-1873854_960_720.png");
    height: 50vh;
    padding-left: 3rem;
  }

  .palm {
    font-size: 75px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 14px;
  }

  .submit button {
    font-size: 18px;
    padding: 0;
    width: 80px;
  }

  label {
    font-size: 20px;
  }

  .html-icon,
  .css-icon,
  .javascript-icon,
  .react-icon,
  .vuejs-icon,
  .firebase-icon {
    width: 50px;
    padding: 0;
    margin: 0;
  }

  .bootstrap-icon {
    width: 65px;
    padding: 0;
    margin: 0;
  }

  .merng-icon {
    width: 100px;
    padding: 0;
    margin: 0;
  }

  .cards .card {
    height: 100px !important;
  }

  .cards .card h4 {
    font-size: 15px;
  }

  #contact-me h1,
  #projects h1,
  #hire-me h1 {
    font-size: 25px !important;
  }

  #projects h1 {
    margin-top: 25px;
  }

  form {
    width: 90%;
  }

  .form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .linkedin {
    width: 50px;
  }

  .footer-nav li {
    font-size: 15px;
  }

  .footer-nav p {
    font-size: 20px;
  }

  .footer-nav img {
    width: 40px;
  }
}
